@import '../../variables';

.gaugeContainer {
  width: 100%;
  margin-bottom: 12px;
  margin-top: 12px;

  .gaugeTitle {
    font-size: $font-medium;
    font-weight: $bold;
    color: $title-text-color;
  }

  .gauge {
    background-color: $main-bg-color;
    border-radius: 7px;
    height: 20px;
    position: relative;
  }

  .filler {
    background-color: $primary-color;
    height: 100%;
    border-radius: inherit;
    min-width: 37px;
    transition: width 400ms $timing;
  }

  .gaugeValue {
    width: 35px;
    height: 18px;
    background-color: $main-bg-color;
    position: relative;
    color: $primary-color;
    font-size: 13px;
    font-weight: $bold;
    border-radius: 7px;
    text-align: center;
    border: 1px solid $primary-color;
    line-height: 18px;
    float: right;
  }
}
