@import '../../variables.scss';

.chatPageContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  .chatItem {
    display: flex;
    flex: 1;
    margin: 4px 0;
    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }
  .chatBubble {
    background-color: $card-placeholder-color;
    color: $title-text-color;
    font-size: $body-text-size;
    min-height: 36px;
    max-width: 45%;
    border-radius: 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 12px;
    word-break: break-word;
    &.mine {
      justify-content: flex-end;
    }

    &.theirs {
      background-color: $card-bg-color;
      color: $primary-color;
      border-radius: 10px 10px 10px 0;
    }
  }
}

.bottomInput {
  width: 100%;
}

.hide {
  display: none;
}

.lds {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: block;
  position: relative;
  width: 24px;
  height: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 18px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 28px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0.2;
  }
}
