@import '../../variables.scss';

.scrollableContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  padding: 0 $screen-margin;
  @media (max-width: 360px)  {
    padding: 0 16px;
  }
  -webkit-overflow-scrolling: touch;
}
