@import '../../variables';

.button {
  font-weight: $bold;
  font-family: $font;
  font-size: $font-small;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-self: stretch;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $primary-color;
  height: 50px;
  line-height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline-style: none !important;
  }

  &:active {
    opacity: 0.5;
    transition: all 200ms;
  }

  &.primary {
    color: $main-bg-color;
    background-color: $primary-color;
  }

  &.secondary {
    color: $primary-color;
    font-weight: $semi-bold;
    background-color: $main-bg-color;
  }
}
