@import '../../variables';

.toolbar {
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: $main-bg-color;
  height: $toolbar-height;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

  .toolbarIcon {
    @media (max-width: 360px)  {
      margin: 0;
    }
    margin: 0 14px;
  }

  .title {
    flex: 1;
    color: $title-text-color;
    font-weight: $semi-bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}
