@import '../../variables';

.toolbar {
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: $main-bg-color;
  height: $toolbar-height;

  .toolbarIcon {
    margin: 0 14px;
  }

  .title {
    flex: 1;
    color: $title-text-color;
    font-weight: $semi-bold;
    font-size: 20px;
  }
}
