@import "../../variables";

.bottomNavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $tab-bar-color;
  width: 100%;
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  .active {
    p {
      display: block;
    }

    svg path {
      fill: $tab-active-color;
    }
  }

  a {
    width: 25%;
    text-align: center;
    outline: 0; /* hide outline when pressed the button */
    text-decoration: none;

    &:active {
      background: transparent;
    }
  }

  button {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: 0; /* hide outline when pressed the button */
    svg {
      font-size: 2rem;
      max-height: 20px;
      max-width: 20px;
    }
  }

  p {
    display: none;
    color: $tab-active-color;
    margin: -4px 0 0;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: $bold;
    font-size: 11px;
  }

  svg path {
    fill: $tab-inactive-color;
  }

  a, button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}