.bottomNavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--tab-bar-color);
  width: 100%;
  height: 56px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.bottomNavigationBar a {
  width: 25%;
  text-align: center;
  outline: 0; /* hide outline when pressed the button */
}
.bottomNavigationBar button {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.bottomNavigationBar p {
  display: none;
  color: var(--tab-active-color);
  margin: 0 2px 0 0;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  font-weight: var(--bold);
  font-size: 11px;
}

.bottomNavigationBar button svg {
  font-size: 2rem;
  max-height: 20px;
  max-width: 20px;
}
.bottomNavigationBar svg path {
  fill: var(--tab-inactive-color);
}

.bottomNavigationBar .active svg path {
  fill: var(--tab-active-color);
}

.bottomNavigationBar .active p {
  display: block;
}

/* Possible accessibility problem */
.bottomNavigationBar button {
  outline: 0; /* hide outline when pressed the button */
}