@import '../../variables';

.bottomNavigationBar {
  display: flex;
  align-items: center;
  background-color: $tab-bar-color;
  height: $bottom-nav-height;

  .active {
    p {
      display: block;
    }

    svg path {
      fill: $tab-active-color;
    }
  }

  .link {
    width: 25%;
    text-align: center;
    outline: 0; /* hide outline when pressed the button */
    text-decoration: none;
    cursor: pointer;
    height: $bottom-nav-height;
    display: flex;
    flex-direction: column;

    &:active {
      background: transparent;
    }
    svg {
      font-size: 2rem;
      max-height: 20px;
      max-width: 20px;
      margin: auto;
    }
  }

  p {
    display: none;
    color: $tab-active-color;
    margin: -4px auto auto;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: $bold;
    font-size: 11px;
  }

  svg path {
    fill: $tab-inactive-color;
  }
}
