@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: $main-bg-color;
  height: 100%;
  padding: 0 $screen-margin;
}

.tabContainer {
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .subContainer {
    display: grid;
    width: 100%;
    .bottom {
      grid-row: 2;
    }

    .content {
      grid-row: 1;
      overflow: auto;
      position: relative;
      height: calc(calc(var(--vh, 1vh) * 100) - 56px); // -106px if toolbar is used
    }
  }
}
