@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: $main-bg-color;
  height: calc(100% - 58px);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 $screen-margin;
}

.tabContainer {
  background-color: $main-bg-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 56px;
  overflow-y: auto;

  .content {
    display: block;

    .hidden {
      display: none;
    }
  }
}
