@import '../../variables.scss';

.container {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 $screen-margin;

  .dialog {
    margin: auto 0;
    align-self: stretch;
    padding: 16px;
    padding-bottom: 0;

    .header {
      color: white;
      font-size: 20px;
      font-weight: $semi-bold;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      margin-left: -16px;
      margin-right: -16px;
      overflow: hidden;
      border-top: #17171a 1px solid;

      .button {
        display: flex;
        text-transform: uppercase;
        flex: 1;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: $bold;
      }

      .positive {
        color: $primary-color;
        border-left: 1px #17171a solid;
      }

      .negative {
        color: #bbbbbb;
      }
    }
  }
}
