@import '../variables.scss';

.enter {
  opacity: 0;
  transform: translateY($slide-amount);
  z-index: 100;
}

.enterActive {
  opacity: 1;
  transform: translateY(0px);
  z-index: 100;
  transition: opacity $duration $timing, transform $duration $timing;
}

.exit {
  transform: translateY(0px);
  z-index: -100;
}

.exitActive {
  transform: translateY(-100px);
  z-index: -100;
  transition: opacity $duration $timing, transform $duration $timing;
}
