.root {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .fillScreen {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100vw;
    align-self: stretch;
    scroll-snap-align: center;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
