@import '../../variables';

.snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 600px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 24px;
  right: 24px;
  bottom: 64px;
  height: 48px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .icon {
    margin: 8px;
    height: 20px;
    width: 20px;
    path {
      fill: white;
    }
  }

  .btn {
    path {
      fill: white !important;
    }
  }

  .text {
    // TODO: center properly
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: $font-small;
  }
  &.show {
    visibility: visible; /* Show the snackbar */
  }

  // TODO: use correct colors
  &.error {
    background-color: $error-color;
  }

  &.info {
    background-color: $tab-bar-color;
  }

  &.warning {
    background-color: $warning-color;
  }

  &.success {
    background-color: $success-color;
  }

}
