:root {
  --primary-color: #ffef9b;
  --main-bg-color: #16171a;
  --tab-bar-color: #1a1b1f;
  --tab-inactive-color: #616366;
  --tab-active-color: #ffef9b;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

body {
  background-color: #1a1b1f;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
