// Colors
$primary-color: #ffef9b;
$main-bg-color: #16171a;
$tab-bar-color: #1a1b1f;
$tab-inactive-color: #616366;
$tab-active-color: #ffef9b;
$body-text-color: #9da4b2;
$title-text-color: #ffffff;

// Fonts
$font: 'Catamaran', sans-serif;

// Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Font sizes
$fontSmall: 14px;
$body-text-size: 16px;

// Dimensions
$screenMargin: 32px;
