// Colors
$primary-color: #ffef9b;
$main-bg-color: #16171a;
$landing-bg-color: #101012;
$tab-bar-color: #1a1b1f;
$tab-inactive-color: #616366;
$tab-active-color: #ffef9b;
$body-text-color: #9da4b2;
$title-text-color: #ffffff;
$card-bg-color: #222326;
$card-detail-color: #45464c;
$card-placeholder-color: #505259;
$error-color: #ff273d;
$toggle-active-bg-color: #64604b;
$toggle-color: #d3d3d4;

// Fonts
$font: 'Catamaran', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Font sizes
$font-small: 14px;
$body-text-size: 18px;
$font-large: 2.375em;

// Dimensions
$screen-margin: 32px;
$radius-10: 10px;
$bottom-nav-height: 56px;
$toolbar-height: 56px;
$header-top-margin: 48px;
