@import '../../variables.scss';

.postPageContent {
  margin-top: 12px;

  .postItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-right: 16px;
      flex-shrink: 0;
      height: 20px;
      width: 20px;
      &.filled {
        path {
          fill: $primary-color;
        }
      }

      &.outlined {
        path {
          stroke: $primary-color;
        }
      }
    }

    .sendContainer {
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: space-between;
    }

    .postTextContainer {
      display: flex;
      flex-direction: column;
      .header {
        font-size: $font-small;
        color: $primary-color;
        font-weight: $semi-bold;
      }

      .body {
        font-size: $font-medium;
        font-weight: $medium;
        color: $body-text-color;
        line-height: 22px;
      }

      .sender {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: $font;
        font-weight: $medium;
        color: $title-text-color;
        line-height: 22px;
      }

      .link {
        font-size: $font-medium;
        font-weight: $medium;
        color: $primary-color;
        line-height: 22px;
        text-decoration: underline;
      }

      .description {
        margin: 16px 0;
      }

      &.info {
        margin: 28px 0;
      }
    }
  }

  .icon {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: $card-bg-color;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: $bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex-shrink: 0;
  }

  .divider {
    @media (max-width: 360px)  {
      margin: 0 -16px;
    }
    margin: 0 -32px;
    color: $card-bg-color;
    border: 0;
    border-bottom: 1px solid $card-bg-color;
  }
  .actions {
    margin: 16px 0;
  }
}
